<ion-header>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>正文</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="ion-padding">
  <h1>95后毕业生：如何迈好职场第一步？</h1>
  <p class="date-author">日期作者</p>
  <p class="article-text">
    又是一年毕业季。一向冷静沉着的李静有点无所适从，她是北京某高校2018届毕业生，所学专业是热门的计算机，最近每天都有各类单位开展五花八门的宣讲会，究竟该选择什么样的公司和职位令人头痛不已。<br>
    其实，李静的情况很普遍。有关资料显示，目前全国经过教育部批准备案的高校共有2914所，
    今年预计将有820万应届大学生毕业，95后将正式大规模走上职场。为了帮助这些“大孩子”找到心仪工作。如何迈好职场第一步，希望本篇文章可以为迷茫的孩纸们指点迷津。<br>
  </p>
  <ion-img src="https://pic1.58cdn.com.cn/nowater/58toutiao/big/n_v2444dc30e2829492abbac798f7537f9bc.jpg"></ion-img>
  <h2>站上风口 VS 稳扎稳打</h2>
  <p class="article-text">
    站在风口上，猪都会飞。近年来，VR、金融科技、短视频、区块链等各类概念满天飞，让人眼花缭乱，似乎只要踏对节拍瞬间就会走上人生巅峰，这对年轻一代的择业观产生了一定的影响。<br>
    风口论非常形象地展示了一些适时出现的新产品、新技术，不仅能够轻松赢得投资者的青睐，亦可以立刻俘获海量用户，但它的盛行也容易误导职场新人。应届大学生由于阅历的欠缺，很难判断哪些是真风口哪些是伪风口，而且许多风口转瞬即逝，急需获取经验的毕业生一旦踏错风口，就有可能错失黄金期。<br>
    不久前，人们还在热衷于谈论共享经济、O2O、甚至直播答题等所谓的风口，市场上充斥大量的热钱，创业公司层出不穷，现在，这些关键词已经淡出投资界，如果当时有毕业生恰巧选择了这些行业，现在的处境将异常尴尬。<br>
    相比之下，另有一些企业并不喜欢追逐热点，更倾向于稳扎稳打，逐渐成为某些细分领域的领导者，如特立独行的华为经过近30年的耕耘已经在全球通信产业拥有一定声誉，坚持核心科技的格力亦在竞争激烈的家电行业占据一席之地，他们从不关注热点，却长久地屹立于潮头。<br>
    这样的隐形小巨人既具有类似于校园的文化，又具有良好的发展前景，非常有利于应届大学毕业生顺利过渡，并迅速实现专业能力与人际交往能力的双重提高，职场新人应该将多关注这种类型的招聘单位。
  </p>
  <h2>拥抱大公司 VS. 追求“小而美”？</h2>
  <p>
    加入一家大公司，这不仅意味着你将拥有良好的福利待遇，还意味着自我介绍时会收获众人的羡慕眼神，但大企业的每个岗位都有明确的岗位职责，一个萝卜一个坑，适合比较循规蹈矩的人选。<br>
    而“小而美”在制度建设方面大多不够完善，员工需承担多方面职责，如果你希望更好地发挥自己的创造力，遇到这类公司尤其是兼具大公司与“小而美”双重优点的招聘单位一定不要放过。<br>
    许多毕业生找工作都非常关心工作待遇，对此我们表示理解。目前国内尤其是一线城市生活成本急剧上涨，每个人都面临巨大的生存压力，如果没有一定的物质回报，大家很难全身心投入到工作之中。不过，建议大家能够既要看到眼前的又要放眼明天。<br>
    由于每位应届生都是一张白纸，除个别招聘岗位外，绝大多数的待遇都在一个大致区间内，收入差距将在你工作3-5年后拉开，而当你足够优秀时，在任何一家公司都可以享受到相同级别的待遇。因此，你更应该选择那些提供大量机会的工作单位。<br>
    迈好职场第一步对于每一位毕业生都至关重要。在职场，第一份工作直接影响了每一位毕业生未来的职业走向和职业发展。<br>
    希望，每一位即将离校的天之骄子们都能在这个毕业季早日获得一份理想的Offer。
  </p>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-searchbar searchIcon="mail" placeholder="发表一些评论吧" ></ion-searchbar>
          </ion-col>
          <ion-col size="3">
            <ion-button class="comment-button">评论</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>
