.catogory-button {
  // background: rgba(214, 228, 222, 0.5);
  height: 4em;
  width: 5em;
  // border-radius: 10px;
  // box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.button-icon {
  font-size: 2.2em;
  display: block;
  // margin-left: 10%;
  margin: 0 auto;
}
.button-text {
  font-size: 0.8em;
}
.button-content {
  color: #000;
}
.major-image {
  display: block;
  height: 2.5em;
  width: 2.5em;
  margin: 0 auto;
}
